<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- load MUI -->
    <link href="//cdn.muicss.com/mui-0.10.3/css/mui.min.css" rel="stylesheet" type="text/css" />
    <script src="//cdn.muicss.com/mui-0.10.3/js/mui.min.js"></script>
    <style>
    li {float: left; list-style: none; margin-right: 20px;}
    .clear {clear: both; }
    </style>
  </head>
  <body>
    <!-- example content -->
    <div class="mui-container">
      <div class="mui-panel">
        <form method="POST" class="mui-form">
          {% csrf_token %}
          {{ formset.management_form }}
          {% for form in formset.forms %}
            <ul class="mui-textfield clear">
            {{ form.as_ul }}
            </ul>
          {% endfor %}
          <br>
          <input name="submit" class="mui-btn mui-btn--primary clear" type="submit" value="Submit">
        </form>
      </div>
    </div>
  </body>
</html>

